:root {
  --color-primary: #7065f0;
  --color-secondary: #100a55;
  --color-white: #ffffff;
  --color-black: #000929;

  --color-purple-92: #e0def7;
  --color-purple-94: #e8e6f9;
  --color-purple-96: #f0effb;
  --color-purple-98: #f7f7fd;
  --color-purple-90: #d8d6f5;

  --color-greyscale-50: #f9fafb;
  --color-greyscale-100: #f4f4f6;
  --color-greyscale-200: #e5e6eb;
  --color-greyscale-300: #d3d5da;
  --color-greyscale-400: #9ea3ae;
  --color-greyscale-500: #6c727f;
  --color-greyscale-600: #4d5461;
  --color-greyscale-700: #394150;
  --color-greyscale-800: #212936;
  --color-greyscale-900: #0b0a0f;
}
