@import "../abstracts/variables";

$primary: $color-primary;
$secondary: $color-secondary;
$white: $color-white;
$black: $color-black;

$purple-92: $color-purple-92;
$purple-94: $color-purple-94;
$purple-96: $color-purple-96;
$purple-98: $color-purple-98;
$purple-90: $color-purple-90;

$greyscale-50: $color-greyscale-50;
$greyscale-100: $color-greyscale-100;
$greyscale-200: $color-greyscale-200;
$greyscale-300: $color-greyscale-300;
$greyscale-400: $color-greyscale-400;
$greyscale-500: $color-greyscale-500;
$greyscale-600: $color-greyscale-600;
$greyscale-700: $color-greyscale-700;
$greyscale-800: $color-greyscale-800;
$greyscale-900: $color-greyscale-900;
